.goog-te-banner-frame {
    display: none
}

#google_translate_element{
    display: none
}

.foodList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap
}

.foodContainer {
    padding: 10px;
    margin: 5px;
    border: solid 1px red
}

ul {
    list-style: none;
    padding-left: 0;
}